
/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/


.center {
	align: center;
	text-align: center;
	
}

body {
	
background: #dcdcdc;
}
h1 {
	font-size: 300%;
	text-align: center;
	font-style: bold;
	font-family: "open sans", Helvetica, serif;
	color: #696969;
}
h2 {
	font-size: 175%;
	text-align: center;
	font-family: "open sans", Helvetica, serif;
	color: #dcdcdc;
}
h3 {
	font-size: 150%;
	text-align: center;
	font-style: bold;
	font-family: Merriweather, Helvetica, serif;
	color: #696969;
}
p {
	font-size: 125%;
	text-align: left;
	font-family: "open sans", Helvetica, serif;
}
img {
	border-radius: 2%;
	height: auto;
}

a {
  font-family: Arial, sans-serif;
  font-size: 125%;
}

a:link    { color: #f5deb3;  }
a:visited { color: #f5deb3;   }
a:hover   { color: #a99a86; }
a:active  { color: #f5deb3;  }
.box {
  width: 940px;
  background: #696969;
  padding: 20px;
  border: 0px;
  margin: 20px;
  border-radius: 2%; 
  text-color: #dcdcdc;
}
.border-box {
  box-sizing: border-box;
}

.wrapper {
  width: 940px;
  margin: auto;

}
 
.picture {
  align: center;
  margin: auto;
  width: 620px;
}
 
